<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.learnandroid.superpoohh.ballanimation">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".view.SplashScreen"
            android:theme="@style/AppThemeOne">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListActivity"
            android:label="SpringAnimation" />
        <activity
            android:name=".animations.springforce.position.PositionSpringAnimationActivity"
            android:label="PositionSpring" />
        <activity
            android:name=".animations.springforce.rotation.RotationSpringAnimationActivity"
            android:label="RotationSpring" />
        <activity
            android:name=".animations.springforce.scale.ScaleSpringAnimationActivity"
            android:label="ScaleSpring" />
    </application>

</manifest>